@import url("https://webgl2fundamentals.org/webgl/resources/webgl-tutorials.css");
body {
  margin: 0;
  position: relative;
}

header {
  background-color: #87c735; /* Use your desired green color here */
  padding: 20px;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

header li {
  display: inline-block;
}

header li a {
  color: #fff; /* Set the link color to white */
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out; /* Add a smooth transition effect */
}

header li a:hover {
  color: #000; /* Change the link color on hover */
  background-color: #fff; /* Change the background color on hover */
  text-decoration: none;
}

.product-description {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
  border: 1px solid black;
  border-radius: 8px;
}

.product-description h1 {
  font-size: 50px;
  margin: 0;
  text-transform: capitalize;
}

.product-description p {
  font-size: 20px;
  margin: 0;
}

.product-description #uiContainer {
  position: unset;
  margin: 0 auto;
}

canvas {
  width: 100vw;
  height: 100vh;
  display: block;
}

.options {
  position: absolute;
  bottom: 10%;
  width: 100%;
}

.options .prev {
  position: absolute;
  top: 0;
  left: 15px;
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid black;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  cursor: pointer;
}

.options .next {
  position: absolute;
  top: 0;
  right: 15px;
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid black;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  cursor: pointer;
}

.options .buy {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid black;
  border-radius: 8px;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
}

.colorsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.colorsContainer button {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin: 0 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.selected {
  border: 2px solid black;
  transform: scale(1.1);
}
